.highLightArticle {
  width: 100%;
  padding-top: 22rem;
  display: flex;
  gap: 4rem;

  &__info {
    width: 50%;
  }
  &__description {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  &__image {
    width: 50%;
    height: 100%;
    max-height: 44.5rem;
    object-fit: cover;
    border-radius: 4rem;
  }
}
