.featuredArticle {
  padding-top: 10rem;

  &__cards {
    padding: 6rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4.2rem;
  }

  &__image {
    height: 35.5rem;
    border-radius: 3.35rem 3.35rem 0rem 0rem;
    background: #d9d9d9;
    object-fit: cover;
  }
  &__info {
    padding: 2rem 3rem;
    height: 22.9rem;
    border-radius: 0rem 0rem 3.35rem 3.35rem;
    background: #f1e8d9;
  }
  &__title {
    height: 14rem;
    overflow: hidden;
  }

  &__dateAndPrice {
    font-size: 1.5rem;
    font-weight: 400;
    &--weight700 {
      font-weight: 700;
    }
  }
}
