.highLightArticle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4rem;

  &__info {
    width: 50%;
  }
  &__description {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  &__image {
    width: 50%;
    height: auto;
    max-height: 44.5rem;
    object-fit: cover;
    border-radius: 4rem;
  }
}
